*.pyc
*.so
*.o
*.a
.DS_store
#*
.#*
*~
Makefile.local
setup_local.py
build
dist
test/*
!test/*.py
!test/cpp
!test/cpp/
*.egg-info
*.py#

**/*_wrap.h
**/*_wrap.cxx
mfem/**/*.py
existing_mfem_headers.i

external/